<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
</head>
<body>
    <h1>Matthew Palmer</h1>
    <p>
        This is a simple paragraph about me. I am a second year Computing student majoring in Computer Science.
        I am interesed in alot of things as my interests invlove music, coding , reading and gaining knowledge plus more.
        I do not know which area of Computing I would like to focus in so for now I am just trying to get experience in various
        aspects of Computing such as Web Development.
    </p>
</body>
</html>